    <%- include("partials/header.ejs") %>
     <h1>Surprise Sayings</h1>
    <form action="/joke" method="post">
        <label for="fun" class="type">Choose a category</label> 
        <select name="category_type" id="category_type" required> 
            <option value=" " ></option>
            <option value="Programming">Programming</option>
            <option value="Misc">Misc</option>
            <option value="Dark">Dark</option>
            <option value="Spooky">Spooky</option> 
            <option value="Pun">Pun</option>
        </select>
        <label for="fun" class="type">Choose a flag</label>
        <select name="flag_type" id="flag_type" required>
            <option value=" "></option>
            <option value="nsfw">snfw</option>
            <option value="religious">religious</option>  
            <option value="political">political</option>
            <option value="racist">racist</option>
            <option value="sexist">sexist</option>
            <option value="explicit">explicit</option>
        </select>
        <br><br>
        <input type="submit" value="Submit" class="btn">  
        <div class="joke">
            <% if (locals.single) { %>
                <p><%= single%></p>
            <% } %> 

            <% if(locals.twopart_delivery && locals.twopart_setup) { %>   
                <p><%= twopart_setup['Setup'] %></p><br>
                <p><%= twopart_delivery['Delivery'] %></p>  
            <% } %>
        </div>
    </form>
<%- include("partials/footer.ejs") %>  
 
